.acc {
  font-size: 2rem;
  margin-left: 5rem;
  padding-top: 2rem;
}

.acc a {
    color: black;
}

body {
}

.edit {
    color: rgb(53, 53, 2);
}

footer {
    background-color: grey;
    padding-bottom: 2rem;
}

.hello {
    font-family: Handlee;
    font-size: 1.8rem;
    padding-top: 7rem;
}

.hello:hover {
    font-size: 2rem;
}

li {
    float: left;
    margin-right: 1.8rem;
}

li a {
    align-items: center;
    color: white;
    display: block;
    font-family: Monaco, monospace;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: black;
}

.logo {
  font-size: 1.5rem;
  margin-left: 3rem;
  padding-bottom: 0.1rem;
  padding-top: 0.5rem;
}

.logo1 {
    float: right;
    padding-top: 2rem;
}

.mssg {
    font-family: cursive;
    margin-left: 1rem;
}

.name {
    font-family: Cookie;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.name:hover {
    font-size: 5rem;
}

.nav {
    margin-right: 5rem;
    padding-bottom: 1.5rem;
}

.welcome {
    background-color: beige;
    border-radius: 0.2rem;
}

header {
  align-items: end;
  background-color: red;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;

}

.serves {
    display: flex;
    flex-wrap: nowrap;
    font-family: Indie Flower;
    font-size: 1.3rem;
    justify-content: space-between;
    padding-left: 20rem;
    padding-right: 20rem;
}

.services {
    background-color: rgba(255, 255, 255);
}

ul {
    list-style-type: none;
}
